<!-- Content Row -->
<div class="row content">

  <!-- Content Column -->
  <div class="col-lg-12 mb-4">
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <div class="d-flex justify-content-between">
                  <div>
                      <h6 class="m-0 font-weight-bold text-primary">Device Requests</h6>
                  </div>
                  <div>
                      <a href="#" (click)="modal(filters); false;" class="btn btn-info btn-icon-split btn-sm mr-1 mb-1">
                          <span class="icon text-white-50">
                              <i class="fas fa-filter"></i>
                          </span>
                          <span class="text">Filter <span *ngIf="filterCount > 0" class="badge badge-danger">{{filterCount}}</span></span>
                      </a>
                      <a href="#" (click)="model={}; modal(createApi); false;" class="btn btn-primary btn-icon-split btn-sm mr-1 mb-1">
                          <span class="icon text-white-50">
                              <i class="fas fa-sitemap"></i>
                          </span>
                          <span class="text">Create Device Request</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div class="w-100">
                  <div class="table-responsive">
                      <table [id]="tableId" class="table table-striped table-hover table-bordered table-md" datatable
                          [dtOptions]="dtOptions" style="width:100%;">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Requests</th>
                                  <th>Referee</th>
                                  <th>Organisation</th>
                                  <th>Client Ref</th>
                                  <th>Created</th>
                                  <th>Updated</th>
                                  <th>Status</th>

                              </tr>
                          </thead>
                          <tbody *ngIf="entities?.length != 0;">
                              <tr *ngFor="let dt of entities" [class.selected]="selections[dt.id]" (click)="select(dt)">
                                  <td>
                                      <a href="#" [routerLink]="['/dashboard/device-requests', dt.id]">
                                          <span class="badge badge-primary">
                                              {{dt.id}}
                                          </span>
                                      </a>
                                  </td>
                                  <td>
                                    <div class="d-flex">
                                        <div class="d-flex flex-column">
                                            <div>
                                              <span class="mr-1 mb-1" *ngIf="dt.deviceRequestItems.other != 0">
                                                  <span class="badge badge-primary">
                                                      <span class="badge badge-secondary">Other</span>
                                                      {{dt.types['OTHER'] || 0}}  / {{dt.deviceRequestItems.other || 0}}
                                                  </span>
                                              </span>
                                              <span class="mr-1 mb-1" *ngIf="dt.deviceRequestItems.laptops != 0">
                                                  <span class="badge badge-primary">
                                                      <span class="badge badge-secondary">Laptops</span>
                                                      {{dt.types['LAPTOPS'] || 0}}  / {{dt.deviceRequestItems.laptops || 0}}
                                                  </span>
                                              </span>
                                              <span class="mr-1 mb-1" *ngIf="dt.deviceRequestItems.tablets != 0">
                                                <span class="badge badge-primary">
                                                    <span class="badge badge-secondary">Tablets</span>
                                                    {{dt.types['TABLETS'] || 0}}  / {{dt.deviceRequestItems.tablets || 0}}
                                                </span>
                                              </span>
                                              <span class="mr-1 mb-1" *ngIf="dt.deviceRequestItems.allInOnes != 0">
                                                <span class="badge badge-primary">
                                                    <span class="badge badge-secondary">All-in-ones</span>
                                                    {{dt.types['ALLINONES'] || 0}}  / {{dt.deviceRequestItems.allInOnes || 0}}
                                                </span>
                                              </span>
                                              <span class="mr-1 mb-1" *ngIf="dt.deviceRequestItems.desktops != 0">
                                                <span class="badge badge-primary">
                                                    <span class="badge badge-secondary">Desktops</span>
                                                    {{dt.types['DESKTOPS'] || 0}}  / {{dt.deviceRequestItems.desktops || 0}}
                                                </span>
                                              </span>
                                              <span class="mr-1 mb-1" *ngIf="dt.deviceRequestItems.phones != 0">
                                                <span class="badge badge-primary">
                                                    <span class="badge badge-secondary">Phones</span>
                                                    {{dt.types['PHONES'] || 0}}  / {{dt.deviceRequestItems.phones || 0}}
                                                </span>
                                              </span>
                                              <span class="mr-1 mb-1" *ngIf="dt.deviceRequestItems.commsDevices != 0">
                                                <span class="badge badge-primary">
                                                    <span class="badge badge-secondary">Comms Devices</span>
                                                    {{dt.types['COMMSDEVICES'] || 0}}  / {{dt.deviceRequestItems.commsDevices || 0}}
                                                </span>
                                            </span>
                                          </div>
                                        </div>
                                    </div>
                                  </td>
                                  <td><a href="#" [routerLink]="['/dashboard/referring-organisation-contacts', dt.referringOrganisationContact.id]">{{dt.referringOrganisationContact.fullName}}</a></td>
                                  <td><a href="#" [routerLink]="['/dashboard/referring-organisations', dt.referringOrganisationContact.referringOrganisation.id]">{{dt.referringOrganisationContact.referringOrganisation.name}}</a></td>
                                  <td>{{dt.clientRef}}</td>
                                  <td  [title]="dt.createdAt" class="cursor-hand" placement="left" ngbTooltip="{{dt.createdAt | date:'full'}}" triggers="click:blur">
                                      {{ dt.createdAt | date:'medium' }}
                                  </td>
                                  <td [title]="dt.updatedAt" class="cursor-hand" placement="left" ngbTooltip="{{dt.updatedAt | date:'full'}}" triggers="click:blur">
                                      {{ dt.updatedAt | date:'medium' }}
                                  </td>
                                  <td><a href="#" [routerLink]="['/dashboard/device-requests', dt.id]">{{ statusTypes[dt.status] || dt.status }}</a></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #createApi let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">New Device Request</h4>
  </div>
  <div class="modal-body">
      <form [formGroup]="form">
          <formly-form [options]="options" [form]="form" [model]="model" [fields]="fields">
          </formly-form>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light btn-sm" (click)="c('Close click')">CANCEL</button>
      <button [disabled]="form.invalid" type="button" class="btn btn-primary btn-sm"
          (click)="createEntity(form.value); c('Close click')">
          CREATE
      </button>
  </div>
</ng-template>

<ng-template #filters let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Device Request Filters</h4>
  </div>
  <div class="modal-body">
      <form [formGroup]="filterForm">
          <formly-form [model]="filterModel" [form]="filterForm" [fields]="filterFields">
          </formly-form>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light btn-sm" (click)="c('Close click')">CANCEL</button>
      <button [disabled]="form.invalid" type="button" class="btn btn-primary btn-sm"
          (click)="applyFilter(filterForm.value); c('Close click')">
          Filter
      </button>
  </div>
</ng-template>
