.dashboard-container {
    margin-top: 15%;
}

.no-data-available {
   text-align: center;
}

.dataTables_empty {
    display: none;
}

.modal-title{
    font-size: 0.9em;
}

form {
    font-size: 0.9em;
}

.delete-api {
    .card {
        border: 1px solid red;
    }

    h3 {
        font-size: 1em;
        color: #333333;
        font-weight: bold;
    }

    h4, p {
        color: red;
        font-size: 0.9em;
    }
}

.kit-info-input{
    border: solid 1.5px var(--ctablue);
    color: var(--ctablue);
    padding: 3px 5px;
    border-radius: 3px;
    min-height: 36px;
}

.kit-info-input input{
    border: none;
    box-sizing: border-box;
    width: 100%;

}

.kit-checkbox {
  text-align: right !important;
}

.kit-checkbox-label {
  padding-right: 12px;
  vertical-align: middle;
}

.kit-checkbox-input {
  -webkit-appearance: initial;
  appearance: initial;
  background: white;
  width: 15px;
  height: 15px;
  border: black;
  border-width: 1px;
  border-style:solid;
  position: relative;
}

.kit-checkbox-input:checked {
  //background: red;
}

.kit-checkbox-input:checked:after {
  /* Heres your symbol replacement */
  content: "X";
  color: red;
  /* The following positions my tick in the center,
  * but you could just overlay the entire box
  * with a full after element with a background if you want to */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*
  * If you want to fully change the check appearance, use the following:
  * content: " ";
  * width: 100%;
  * height: 100%;
  * background: blue;
  * top: 0;
  * left: 0;
  */
}
